My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "49c02e02-b877-4794-82fe-fdf879fe5438",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://opensky-network.org/api/states/all",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lamin",
              "value": "35"
            },
            {
              "name": "lamax",
              "value": "45"
            },
            {
              "name": "lomin",
              "value": "25"
            },
            {
              "name": "lomax",
              "value": "45"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "ff17a6fa-d2ef-41ae-a47f-acc6bd1c4631",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Input comes from the HTTP node\nconst data = $json;\n\n// Safety check\nif (!data || !data.states) {\n  return [{ flights: [] }];\n}\n\nconst states = data.states;\nconst flights = [];\n\nfor (const s of states) {\n  const flight = {\n    icao24: s[0],\n    callsign: (s[1] || \"\").trim(),\n    origin_country: s[2],\n    time_position: s[3],\n    last_contact: s[4],\n    longitude: s[5],\n    latitude: s[6],\n    baro_altitude: s[7],\n    on_ground: s[8],\n    velocity_mps: s[9],\n    true_track_deg: s[10],\n    vertical_rate_mps: s[11],\n    geo_altitude: s[13],\n    squawk: s[14],\n    spi: s[15],\n    position_source: s[16],\n  };\n  flights.push(flight);\n}\n\nreturn [{ flights }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "0d79b9f9-28fb-4fa8-b14c-4ab0bf439eff",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/region1_latest.json",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "92b039d4-3555-42f1-a1a0-d65524e9f9dd",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "// Convert JSON array to string for writing to file\nreturn [\n  {\n    json: {},\n    binary: {\n      file: Buffer.from(JSON.stringify($json.flights, null, 2))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "0d47f890-ef7e-422a-b9b4-a1f2b7210981",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "path": "latest-region1",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        256
      ],
      "id": "c27ab53b-a349-4461-a2ec-fd6bd4dea0a0",
      "name": "Webhook",
      "webhookId": "dee028e4-a633-489b-bb2a-1b6410bd451c"
    },
    {
      "parameters": {
        "fileSelector": "=/data/region1_latest.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1072,
        0
      ],
      "id": "5f7adf43-8c7e-4905-b279-82074b3bc350",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "fileSelector": "/data/region1_latest.json",
        "options": {
          "dataPropertyName": "fileContent"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        208,
        256
      ],
      "id": "fafa1abe-618b-4eb2-af7c-db4116f30881",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "jsCode": "// In \"Run Once for All Items\" mode, input is an array of items\nlet flights = [];\n\nif (items.length > 0 && items[0].binary && items[0].binary.fileContent) {\n    const binData = items[0].binary.fileContent.data; // Base64-encoded\n    const fileText = Buffer.from(binData, 'base64').toString('utf8');\n    try {\n        flights = JSON.parse(fileText);\n    } catch (err) {\n        console.error(\"Error parsing JSON:\", err);\n    }\n}\n\nreturn [\n    {\n        json: { flights }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        256
      ],
      "id": "4c68a962-9a2a-4cd9-98da-280910855b6f",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "badd3b90-24ac-4df0-8d88-1e90970d3d18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3217978bdfde9f3a691aaff3b53dc110e0581cca9c641314215d6b19eb128135"
  },
  "id": "BLzt0B0AjFj6mO97",
  "tags": []
}